.whole-page {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.upper-menu {
  margin-top: 63px;
}
.ramda-upper-logo {
  font-family: sans-serif;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
.ramda-upper-logo > span {
  color: #4bcaff;
}
.top-menu {
  display: flex;
  height: 78px;
  margin-top: 40px;
  margin-bottom: 0;
  background: #35444f;
  justify-content: center;
  align-items: center;
}
.top-menu-element {
  border-left: solid 1px #ffffff;
}
.top-menu-element:last-of-type {
  border-right: solid 1px #ffffff;
}
.top-menu-link {
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding: 25px 35px 25px 35px;
}
.top-menu-link:hover {
  background: #222f3a;
}
.main-info {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}
.side-menu-list {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: auto;
  border: solid 1px #000000;
  margin: 0;
}
.side-menu-link {
  font-family: sans-serif;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  display: block;
  padding-left: 44px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.side-menu-link-pr1 {
  padding-right: 210px;
}
.side-menu-link-pr1:hover {
  padding-left: 74px;
  padding-right: 180px;
  background: #dbdbdb;
  color: #000000;
}
.side-menu-link-pr2 {
  padding-right: 133px;
}
.side-menu-link-pr2:hover {
  padding-left: 74px;
  padding-right: 103px;
  background: #dbdbdb;
  color: #000000;
}
.side-menu-link-pr3 {
  padding-right: 91px;
}
.side-menu-link-pr3:hover {
  padding-left: 74px;
  padding-right: 61px;
  background: #dbdbdb;
  color: #000000;
}
.side-menu-link-pr4 {
  padding-right: 142px;
}
.side-menu-link-pr4:hover {
  padding-left: 74px;
  padding-right: 112px;
  background: #dbdbdb;
  color: #000000;
}
.side-menu-link-pr5 {
  padding-right: 165px;
}
.side-menu-link-pr5:hover {
  padding-left: 74px;
  padding-right: 135px;
  background: #dbdbdb;
  color: #000000;
}
.photo-and-text {
  width: 885px;
}
.main-image-container {
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #000000;
}
.main-image-container > img {
  transition: 1s;
}
.main-image-container:hover img {
  transform: scale(1.2);
}
.main-text {
  margin-top: 35px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-top: 54px;
  background: rgba(99, 105, 110, 0.48);
  font-family: sans-serif;
  font-size: 28px;
  line-height: 28px;
}
.footer-menu {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}
.footer-menu-link {
  display: block;
  padding: 18px 15px 20px 15px;
  color: #0c1927;
  border: solid 2px transparent;
}
.footer-menu-link:hover {
  color: #3181a6;
  border-bottom: solid 2px #3181a6;
}
.copyright {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 40px;
  color: #010101;
}